html {
  background-color: rgb(49, 49, 49);
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  justify-content: space-around;
  width: 56%;
  margin: auto;
  background-color: white;
  min-height: 10in;
}
.hd1 {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 3%;
}
.bot {
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.listhead {
  font-style: italic;
  font-weight: bold;
}
.header {
  font-style: italic;
  font-weight: bold;
  width: 20%;
  float: left;
}
.content {
  width: 75%;
  float: right;
}

.line {
  background-color: black;
  height: 2px;
  margin: auto;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.listitem {
  display: flex;
  flex-direction: column;
}
